appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
beautifulsoup4==4.6.3
black==19.3b0
certifi==2019.6.16
cffi==1.11.5
Click==7.0
colorama==0.4.1
coverage==4.5.3
cryptography==2.6.1
cryptography-vectors==2.3.1
idna==2.7
isort==4.3.19
lazy-object-proxy==1.4.1
lxml==4.9.1
mccabe==0.6.1
psycopg2==2.7.6.1
pycparser==2.19
pylint==2.3.1
pyOpenSSL==18.0.0
PySocks==1.6.8
python-dotenv==0.10.3
selenium==3.14.1
six==1.11.0
toml==0.10.0
urllib3==1.25.3
win-inet-pton==1.0.1
wincertstore==0.2
wrapt==1.11.1
